<header>
  <span id="homeNav" class="nav-item">HOME</span>
  <span id="aboutNav" class="nav-item">HOW WE HELP</span>
  <span id="aboutNav" class="nav-item">OUR STORIES</span>
  <span id="aboutNav" class="nav-item">ABOUT</span>
</header>
<img src="/images/Logo.png" width="100px">

<div class="main-page-container">


  <div class="headlines">If you are/were anxious about</div>

  <div id="carousel-symptoms" class="carousel-slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        speaking in public
      </div>
      <div class="carousel-item">
        meeting new people
      </div>
      <div class="carousel-item">
        going out with friends
      </div>
      <div class="carousel-item">
        going to parties
      </div>
      <div class="carousel-item">
        making eye contacts
      </div>
    </div>
  </div>

  <div class="headlines">Pick a role and get connected!</div>
</div>

<div class="button-container">
  <a href="user/listener">
    <button id="listenerButton">Listener</button>
  </a>
  <a href="user/speaker">
    <button id="storytellerButton">Storyteller</button>
  </a>
</div>

<canvas id="canvasID" width="1280" height="435" style="width: 1280px; height: 435px;"></canvas>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="./scripts.js"></script>