<h1>Listener Form</h1>

<form>
    <div class="form-group">
        <label for="screenName">Screen Name</label>
        <input type="text" class="form-control" id="screenName" aria-describedby="screenName" placeholder="helpfulperson25">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <select class="form-control" id="age">
            <option>18-24</option>
            <option>25-34</option>
            <option>35-49</option>
            <option>50-64</option>
            <option>65+</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>