:root {
	--primary-brown: rgb(85, 59, 64);
	--secondary-brown: rgb(147, 103, 107);
	--primary-text: rgb(232, 196, 203);
	--secondary-text: rgb(218, 203, 206);
	--white: #ffffff;
	--light-gray: #bdbdbd;
};

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
 /* padding-top: 10%;*/
  text-align: center;
  color:rgb(236, 220, 247);
}

.main-page-container {
	padding-top: 5%;
}

.listener-container {
	padding-top: 8%;
}

.speaker-container {
	/* padding-top: 8%; */
}




a {
  color: #00B7FF;
}



#carousel-symptoms .carousel-inner {
	text-align: center;
	font-size: 4em;
	font-family: 'Ruda', sans-serif;
	color: rgb(236, 220, 247);
	margin-bottom: 2%;
	-webkit-transition: 1s ease-in-out left;
    -moz-transition: 1s ease-in-out left;
    -o-transition: 1s ease-in-out left;
    transition: 1s ease-in-out left;
}

.form-heading {
	margin-left: 5%;
	font-size: 2em;
	font-family: 'Ruda', sans-serif;
	color:rgb(236, 220, 247);
}

.form-questions {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Ruda', sans-serif;
	color:rgb(236, 220, 247);
	margin-top: 4%;
	font-weight: bold;
}

.dropdown {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Ruda', sans-serif;
	color:rgb(236, 220, 247);
	margin-top: 2%;
}

.headlines {
	text-align: center;
	font-family: 'Ruda', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color:rgb(236, 220, 247);
	margin-bottom: 2%;
}

/*------------header------------*/
header{
	position: fixed;
	color:rgb(236, 220, 247);
	top: 0px;
	width: 100%;
	height: 40px;
	font-size: 1.1em;
	text-align: right;
	line-height: 40px;
	/*border-bottom: 2px dashed rgb(236, 220, 247); */
	margin-left: 0;
	margin-bottom: 20%;
	font-family: 'Ruda', sans-serif;
	margin-bottom: 10%;
	/*background-color: white;*/
}

/*------------canvas for p5.js------------*/
#canvasID {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
}

/*------------navItem------------*/
.nav-item{
	/*color: black;	*/
	padding-right: 50px;
	padding-left: 50px;
	color: rgb(236, 220, 247);
	border-right: 2px dashed rgb(236, 220, 247);
	text-align: center;
}

.nav-item: hover {
	color: #F0E68C;
	cursor: pointer;
}

.button-container {
	text-align: center;
	margin-top: 5%;
}

.form-button-container {
	text-align: center;
	margin-top: 3%;
}

button {
  background-color: rgb(218, 203, 206); 
  border: none;
  color:rgb(90, 62, 67);
  /*color: white;*/
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ruda', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #333333; /* Green */
  color: white;
}

#storytellerButton {
	margin-left: 10%;
	font-family: 'Ruda', sans-serif;
	font-size: 22px;
}

#listenerButton {
	font-family: 'Ruda', sans-serif;
	font-size: 22px;
}

#listenerChat {
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
}

#speakerChat {
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
}


#appContainer{
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
	width: 50%;
	margin: 70px auto;
}

#loginForm {
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
	margin-top: 18%;
}

#messageForm {
	margin-top: 70px;
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
	margin-top: 10%;
}

.message-right {
	background-color: bisque;
	padding-left: 10px;
	text-align: right;
}

.message-left {
	background-color: azure;
	padding-left: 10px;
}

#prompt-display{
	color:rgb(236, 220, 247);
}

#start{
	color:rgb(236, 220, 247);	
	margin-bottom: 4%;
}